.top_text {
    text-align: center;
    width: 50%;
    font-family: monospace;
}

.leaderboard {
    float: top;
    font-family: monospace;
    margin:auto;
}

.board {
    float: left;
    border: 3px;
    border-style: double;
    border-color: black;
    height: 80%;
    width: 50%;
    margin-right: 2%;
}