body {
    background-color: #d3d9e3;
    font-family: monospace;
}

.loginRegisterBox {
    background:white;
    width: 90vw;
    border-radius: 1vw;
    margin: 0 auto 0 auto;
    padding: 0vw 0vw 3vw 0vw;
    border: #2980b9 4px solid;
    text-align: center;
}

.relink {
    text-align: center;
}

@media only screen and (min-width: 700px) {
    .loginRegisterBox {
        width: 60vw;
    }
}